
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

body {
      font-family: 'Segoe UI', sans-serif;
      line-height: 1.6;
    }

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000000;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: background-color 0.5s ease, color 0.5s ease;
}

nav.scrolled {
      background-color: rgb(0, 0, 0);
      color: #fff;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 2rem;
    }

    nav ul li a {
      text-decoration: none;
      color: inherit;
      font-weight: bold;
      transition: all 0.3s ease;
      font-size: 1.1rem;
    }

    nav ul li a:hover {
      color: #00bcd4;
      font-style: italic;
      font-size: 2.1rem;
    }

    section {
      height: 100vh;
      padding: 5rem 2rem;
    }

h1:hover{
        color: #11bee6;
        background-color: rgb(0, 0, 0);
        width: 280px;
        border-radius: 10px;
        padding-left: 24px;
        }
    
html {
      scroll-behavior: smooth;
    }

.h, .a, .s, .c {
  transition: background 0.15s ease; 
}

.h:hover { background: linear-gradient(to right, #d99898, #d85d5d);}
.a:hover { background: linear-gradient(to right, #b0e3ea, #69d7e6);}
.s:hover { background: linear-gradient(to right, #e4d0b1, #ddb06c);}
.c:hover { background: linear-gradient(to right, #cce9ab, #aae666);}

.foot{
    text-align:center; 
    padding: 5px; 
    background:#000; 
    color:#fff;
}
.logo{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
